
<app-menu></app-menu>
<div class="container">
  <div class="row">

 <!--<h1>
  IDGS901
</h1>
<p>Hola Mundo</p>
<div>
  {{title}}
</div>

<br>
<hr>
<div>El doble de 3 es: {{calcular(3)}}</div>
<hr>
<br>

<div>
  <b>Matricula: </b>{{alumno.matricula}}
</div>
<div>
  <b>Nombre:</b> {{alumno.nombre|uppercase}}
</div>
<div>
 <b>  Edad: </b>{{alumno.edad}}
</div>
<div>
  <b>Fecha: </b>{{alumno.fechaNacimiento|date}}
</div>
<div>
  <b>Pago: </b>{{alumno.pago|currency}}
</div>
<br>

<hr>
<br> 
<app-utl></app-utl>
<hr>
<br>
<app-ievn></app-ievn>

<hr>
<br>
<app-iric></app-iric>
 -->
 <app-iric></app-iric>

</div>
</div>